@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    position: relative;
    height: 100vh;
    background: url("./img/showcase-photo3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container2{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.navbar{
    padding: 1rem;
    
}

/* .navbar a,
.navbar .logo{
    color: white;
} */

.navbar-container{
    display: flex;
    justify-content: space-between;
    
}

.menu-items{
    display: flex;
}

.menu-items li{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.menu-items a{
   color: #e63946;
}

.menu-items a:hover{
    border-bottom: 2px solid #e63946;
}

.logo{
    font-size: 3.5rem;
    color: #fff;
}

.logo:hover{
    color: #e63946;
}


.container{
    border: 2px solid white;
    background: #e2dcdca9;
    opacity: 0.85;
    z-index: 999;
    position: absolute;
    width: 500px;
    height: 600px;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-group{
    margin-bottom: 3.5rem;
}

.container label{
    display: block;
    color: #082517;
    font-size: 1.6rem;
    font-weight: 500;
    width: 300px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    /* border: 2px solid white; */
    
}

.container label:hover{
    transform: translateY(-30px)
}

.container-group i{
    position: absolute;
    top: 20%;
    left: 76%;
    display: inline-block;
}

.container-group i.about-heading{
    position: absolute;
    top: 44%;
    left: 76%;
    display: inline-block;
}

.container-group i.about-main{
    position: absolute;
    top: 32%;
    left: 76%;
    display: inline-block;
}


.container-group input{
    display: block;
    width: 100%;
    width: 300px;
    margin: 0 auto;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #082517;
}


.login{
    font-size: 3.5rem;
    font-weight: 700;
    color: #082517;
    text-align: center;
    margin: 3rem 0;
}

.container input[type='checkbox']{
    width: 20px;
    height: 18px;
    position: absolute;
    top: 55%;
    left: 20%;
    

}

.container p{
    position: absolute;
    top: 55%;
    left: 25%;
    font-size: 1.4rem;
    font-weight: 500;
     
}

.container p.for{
    position: absolute;
    top: 55%;
    left: 25%;
    font-size: 1.4rem;
    font-weight: 500;
    
}

.container p.account{
    position: absolute;
    top: 75%;
    left: 27%;
    font-size: 1.6rem;
    font-weight: 500;
    
}

.btn-primary{
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

input[type='submit']{
    display: block;
     position: absolute;
    top: 63%;
    left: 20%;
    background: rgba(0, 0, 0, 0.664);
    text-decoration: none;
    color: #082517;
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
    font-size: 2rem;
    width: 300px;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
    text-align: center;
    
}


@media (max-width: 500px){
    html{
        font-size: 56.25%;
    }

    .container{
    border: 2px solid white;
    background: #ffffffa9;
    opacity: 0.85;
    z-index: 999;
    position: absolute;
    width: 400px;
    height: 500px;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-group{
    margin-bottom: 3.5rem;
}

.container label{
    display: block;
    color: #082517;
    font-size: 1.6rem;
    font-weight: 500;
    width: 300px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    /* border: 2px solid white; */
    
}

.container label:hover{
    transform: translateY(-30px)
}

.container-group i{
    position: absolute;
    top: 20%;
    left: 83%;
    display: inline-block;
}

.container-group i.about-heading{
    position: absolute;
    top: 35%;
    left: 83%;
    display: inline-block;
}

.container-group i.about-main{
    position: absolute;
    top: 49%;
    left: 83%;
    display: inline-block;
}


.container-group input{
    display: block;
    width: 100%;
    width: 300px;
    margin: 0 auto;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #082517;
}

.login{
    font-size: 3.5rem;
    font-weight: 700;
    color: #082517;
    text-align: center;
    margin: 3rem 0;
}

.container input[type='checkbox']{
    width: 20px;
    height: 18px;
    position: absolute;
    top: 59%;
    left: 12%;
    

}

.container p{
    position: absolute;
    top: 55%;
    left: 55%;
    font-size: 1.4rem;
    font-weight: 500;
     
}

.container p.for{
    position: absolute;
    top: 59%;
    left: 18%;
    font-size: 1.4rem;
    font-weight: 500;
    
}

.container p.account{
    position: absolute;
    top: 75%;
    left: 27%;
    font-size: 1.6rem;
    font-weight: 500;
    
}

.btn-primary{
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

input[type='submit']{
    display: block;
     position: absolute;
    top: 65%;
    left: 12%;
    background: rgba(0, 0, 0, 0.664);
    text-decoration: none;
    color: #082517;
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
    font-size: 2rem;
    width: 300px;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
    text-align: center;
    
}
}

@media (min-width: 501px) and (max-width: 650px){
      html{
        font-size: 56.25%;
    }

    .container{
    border: 2px solid white;
    background: #ffffffa9;
    opacity: 0.85;
    z-index: 999;
    position: absolute;
    width: 400px;
    height: 500px;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-group{
    margin-bottom: 3.5rem;
}

.container label{
    display: block;
    color: #082517;
    font-size: 1.6rem;
    font-weight: 500;
    width: 300px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    /* border: 2px solid white; */
    
}

.container label:hover{
    transform: translateY(-30px)
}

.container-group i{
    position: absolute;
    top: 22%;
    left: 83%;
    display: inline-block;
}

.container-group i.about-heading{
    position: absolute;
    top: 49%;
    left: 83%;
    display: inline-block;
}

.container-group i.about-main{
    position: absolute;
    top: 35%;
    left: 83%;
    display: inline-block;
}


.container-group input{
    display: block;
    width: 100%;
    width: 300px;
    margin: 0 auto;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #082517;
}

.login{
    font-size: 3.5rem;
    font-weight: 700;
    color: #082517;
    text-align: center;
    margin: 3rem 0;
}

.container input[type='checkbox']{
    width: 20px;
    height: 18px;
    position: absolute;
    top: 59%;
    left: 12%;
    

}

.container p{
    position: absolute;
    top: 55%;
    left: 30%;
    font-size: 1.4rem;
    font-weight: 500;
     
}

.container p.for{
    position: absolute;
    top: 59%;
    left: 18%;
    font-size: 1.4rem;
    font-weight: 500;
    
}

.container p.account{
    position: absolute;
    top: 75%;
    left: 25%;
    font-size: 1.6rem;
    font-weight: 500;
    
}

.btn-primary{
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

input[type='submit']{
    display: block;
     position: absolute;
    top: 66%;
    left: 12%;
    background: rgba(0, 0, 0, 0.664);
    text-decoration: none;
    color: #082517;
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
    font-size: 2rem;
    width: 300px;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
} 
}

@media (orientation: landscape) and (max-height: 500px){
    header{
        height: 100vmax;
    }
}
